@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Open+Sans:wght@400;600;700;800&display=swap');

/*
Cores: 1e1e1e, 136df3, d2d2d2, c39a05, f3f61, d2d2d2
Fonte: Open Sans
Pesos: extrabold, bold, semibol e regular
Dimensões: 5rem, 4rem, 3rem, 2.5rem, 1rem 
*/

:root {
    --grey: #1e1e1e;
    --white: #d2d2d2;
    --blue: #136df3;
    --yellow: #c39a05;
    --pink: #f31f61;

    --size_xg: 5rem;
    --size_lg: 4rem;
    --size_md: 3rem;
    --size_sm: 2.5rem;
    --size_xs: 1rem;

    --font_family: "Open Sans";
    --font_extrabold: 800;
    --font_bold: 700;
    --font_semibold: 600;
    --font_regular: 500;
}

/* Cores */

#header{
    background-color: var(--white);
}

#responsiveness{
    background-color: var(--pink);
}

#foundations{
    background-color: var(--whithe);
}

#others{
    background-color: var(--yellow);
}

.footer{
    background-color: var(--grey);
}

#project .article .article_title{
    color: var(--yellow);
}

#project .article .article_text{
    color: var(--white);
}

#responsiveness .article .article_title{
    color: var(--white);
}

#responsiveness .article .article_text{
    color: var(--white);
}

#foundations .article .article_title{
    color: var(--blue);
}

#foundations .article .article_text{
    color: var(--black);
}

#others .article .article_text{
    color: var(--black);
}

#others .article .article_title{
    color: var(--white);
}

.footer {
    color: var(--white);
}

/* Tipografia */

/* Estilo */

/* Layout - Espaçamentos */

/* Layout - Grade */

/* Animações e transições */