@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Open+Sans:wght@400;600;700;800&display=swap');

/*
Cores: 1e1e1e, 136df3, d2d2d2, c39a05, f3f61, d2d2d2
Fonte: Open Sans
Pesos: extrabold, bold, semibol e regular
Dimensões: 5rem, 4rem, 3rem, 2.5rem, 1rem 
*/

:root {
    --grey: #1e1e1e;
    --white: #d2d2d2;
    --blue: #136df3;
    --yellow: #c39a05;
    --pink: #f31f61;

    --size_xg: 5rem;
    --size_lg: 4rem;
    --size_md: 3rem;
    --size_sm: 2.5rem;
    --size_xs: 1rem;

    --font_family: "Open Sans";
    --font_extrabold: 800;
    --font_bold: 700;
    --font_semibold: 600;
    --font_regular: 500;
}

/* Cores */
.header_title{
    font-size: var(--size_sm);
    font-weight: var(--font_extrabold);
    text-align: left;
}
.menu{
    display: flex;
}
header{
    display: flex;
}
.imagem-header{
    max-width: 50pc;
    max-width: 10pc;
}

em{
    background-image: linear-gradient (
        90deg,
        var(--pink),
        var(--blue)
    );
    
}


#project{
    background: var(--grey);
    color: var(--white);
    text-align: center;

}
#project h2 {
    color   : var(--yellow);
    font-size:var(--size_sm) ;
    font-weight: var(--font_extrabold);
}

#responsiveness{
    background: var(--pink);
    color: var(--white);
    text-align: right;
    
}
#responsiveness h2{

    font-size: var(--size_md);
    font-weight: var(--font_extrabold);
}

#foundations h2{
 color: var(--blue);
 font-size: var(--size_sm);
 font-weight: var(--font_extrabold);
 text-align: left;
}

#others{
    background: var(--yellow);
}
#others h2{
    color: var(--white);
    font-weight: var(--font_extrabold);
    font-size: var(--size_sm);
    display: block;

}
.article_title1{
    text-align: left;
    display: block;
}
.article_title2 {
    text-align: right;
    

}
footer{
    background: var(--grey);
    color: var(--white);
}
a{
    color: var(--blue);
}
/* Tipografia */
body{
    font-family: var(--font_family);
   
}

/* Estilo */
li a {
    text-decoration: none;
}

.article_illustration{
    border-radius: var(--size_sm);
}

/* Layout - Espaçamentos */
#responsiveness{
    display: flex;
}
.article_illustration{
    align-items: right;
}


#foundations{
    display: flex;
}
#others{
    display: flex;
}

.article, .article_title{
    padding: 40px;
}

.footer_text{
    padding: 40px;
    
    text-align: left;
}

span{
    text-align: center;
}

.article_illustration{
    border-radius: 5px;
}

.quadrado{
    border-radius: 1px;
}
/* Layout - Grade */

/* Animações e transições */